.container {
  max-width: 250px;
  margin: 0 auto;
  padding: 70px;
  text-align: left;
  flex-direction: column;
  
}

.label {
  font-weight: bold;
  color: black;
  margin-bottom: 10%;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.button {
  align-items: center;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(228, 202, 215);
  color: black;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}